// Imports
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap');
// / Imports

// Variables
$base: 4px;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$accentColor: #FF7235;

$transition: 200ms;
// / Variables

// Mixins
@mixin focusVisible() {
   outline: 2px solid $accentColor;
   border-radius: 5px;
}

// / Mixins

// Common styles
* {
   margin: 0;
   padding: 0;

   box-sizing: border-box;
}

ol, ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: #000;
}

button {
   border: none;
   background-color: transparent;
}

body {
   font-family: 'Hind Siliguri', serif;
}

h1 {
   margin: 0;

   font-size: 96px;
   font-weight: $fw-bold;
   line-height: 100%;
   color: #292830;
}

h2 {
   margin: 0;

   font-size: 96px;
   font-weight: $fw-bold;
   line-height: 100%;
   color: #292830;
}

h3 {
   margin: 0;

   font-size: 22px;
   font-weight: $fw-regular;
   line-height: 100%;
   color: #BDBDBD;
   text-transform: uppercase;
}

h4 {
   margin: 0;

   font-size: 24px;
   font-weight: $fw-regular;
   line-height: $base * 9;
   color: #BDBDBD;
}

.section-outer {

}

.section-inner {
   max-width: $base * 275;

   margin: 0 auto;
}

.visually-hidden {
   display: none;
}

// / Common styles

// Header styles
.header {
   padding-top: $base * 13;
   padding-bottom: $base * 26;

   .section-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.header-list {
   display: flex;
   align-items: center;

   &__item {
      &:not(:last-child) {
         margin-right: $base * 10;
      }
   }

   &__item-link {
      font-weight: $fw-regular;
      transition: $transition;

      &:hover {
         color: $accentColor;
      }

      &:focus-visible {
         @include focusVisible();
      }
   }
}

.header-button {
   width: $base * 40;
   height: $base * 12;

   border: 1px solid $accentColor;
   border-radius: 8px;

   font-weight: $fw-regular;
   color: $accentColor;

   transition: $transition;

   cursor: pointer;

   &:hover {
      background-color: $accentColor;
      color: #FFF;
   }
}

// / Header styles

// Hero styles
.hero {
   padding-bottom: $base * 53;

   .section-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.hero-title {
   margin-bottom: $base * 5;
}

.hero-subtitle {
   margin-bottom: $base * 10;
}

.hero-buttons-block {
   display: flex;
   align-items: center;
}

.hero-button {
   display: flex;
   justify-content: center;
   align-items: center;

   width: 225px;
   height: 75px;

   margin-right: $base * 6;

   background-color: $accentColor;
   border-radius: 8px;

   font-size: 24px;
   font-weight: $fw-regular;
   color: #FFF;

   cursor: pointer;

   transition: color $transition, background-color $transition, stroke $transition;

   &:hover {
      color: $accentColor;
      background-color: #FFF;
      border: 3px solid $accentColor;
   }

   &:focus-visible {
      outline: 3px solid #000;
   }

   &__icon {
      display: block;
      width: 18px;
      height: 10px;

      margin-left: $base * 3;

      background-image: url("../images/arrow-down.svg");
      background-repeat: no-repeat;
   }

   &__text {
      font-size: 24px;
      font-weight: $fw-regular;
      color: #BDBDBD;
   }
}

.hero-button:hover .hero-button__icon {
   stroke: $accentColor;
}

// / Hero styles

// Product styles
.product {
   display: flex;
   align-items: flex-end;
   position: relative;

   height: $base * 178;

   background-color: #FF7235;

   &__image {
      position: relative;
      top: 4px;

      z-index: 1;
   }
}

.product-blob-1 {
   position: absolute;

   bottom: 0;
   left: 0;
}

.product-blob-2 {
   position: absolute;

   top: 0;
   right: 0;
}

// / Product styles

// Brands
.brands-list {
   display: flex;
   justify-content: space-between;
   align-items: center;

   height: 188px;

   &__item {
      background-repeat: no-repeat;
      background-position: center;

      transition: $transition;
   }
}

.brand-google {
   width: 114px;
   height: 40px;

   background-image: url("../images/logo-google.svg");
}

.brand-cocacola {
   width: 114px;
   height: 40px;

   background-image: url("../images/logo-cocacola.svg");
}

.brand-linkedin {
   width: 132px;
   height: 34px;

   background-image: url("../images/logo-linkedin.svg");
}

.brand-samsung {
   width: 161px;
   height: 25px;

   background-image: url("../images/logo-samsung.svg");
}

// / Brands

// Features common styles

.features {
   padding-top: $base * 35;
   padding-bottom: $base * 35;

   .section-inner {
      display: flex;
      justify-content: space-between;
   }
}

.features-content {
   max-width: $base * 135;
}

.features-name {
   margin-bottom: $base * 6;
}

.features-title {
   margin-bottom: $base * 6;
}

.features-subtitle {
   margin-bottom: $base * 6;
}

.features-btn {
   &__link {
      display: flex;
      align-items: center;

      font-size: $base * 6;
      font-weight: $fw-regular;
      line-height: 100%;
      color: $accentColor;

      transition: $transition;

      &:hover {
         color: darken($accentColor, 30%);
      }

      &:focus-visible {
         @include focusVisible();
      }
   }

   &__link-icon {
      display: block;
      width: $base * 4 + 2;
      height: $base * 4;

      margin-left: $base * 4;

      background-image: url("../images/arrow-right.svg");
      background-repeat: no-repeat;
      background-position: center;
   }
}

// / Features common styles

// Product features styles
.product-features {
   padding-top: 139px;
   padding-bottom: 139px;
}

.product-features-text {
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin-bottom: 80px;
}

.product-features-title {
   max-width: 700px;
   margin-right: 30px;
}

.product-features-subtitle {
   width: 350px;
}

.product-features-list {
   display: flex;
   justify-content: space-between;

   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 350px;
      height: 350px;

      border-radius: 12px;

      transition: $transition;

      &:not(:last-child) {
         margin-right: 30px;
      }

      &:hover .product-features-name {
         color: #FFF;
      }

      &:hover .product-features-description {
         color: #FFF;
      }

      &-cross-platform:hover {
         background-color: #FFBD74;
      }

      &-cloud-server:hover {
         background-color: #E2598B;
      }

      &-pure-javascript:hover {
         background-color: #4D12EE;
      }

      &-cross-platform:hover .product-features-icon {
      }

      &-cross-platform .product-features-icon {
         background-image: url("../images/product-features-cross-platform.svg");
      }

      &-cloud-server .product-features-icon {
         background-image: url("../images/product-features-cloud-server.svg");
      }

      &-pure-javascript .product-features-icon {
         background-image: url("../images/product-features-pure-javascript.svg");
      }
   }
}

.product-features-icon {
   width: 64px;
   height: 64px;

   margin-top: 63px;
   margin-bottom: 24px;

   border-radius: 50%;

   background-color: #FFF;
   background-repeat: no-repeat;
   background-position: center;
}

.product-features-name {
   margin-bottom: 12px;

   font-weight: $fw-medium;
   font-size: 30px;
   line-height: 100%;

   color: #292830;
}

.product-features-description {
   max-width: 220px;

   text-align: center;
   font-weight: $fw-regular;
   font-size: 14px;
   line-height: 23px;

   color: #BDBDBD;
}

// / Product features styles